PAYPAL_MERCHANT_ID="XXXXXX"
PAYPAL_MERCHANT_EMAIL="merchant@business.example.com"
PAYPAL_CLIENT_ID="XXXXXXX"
PAYPAL_CLIENT_SECRET="XXXXXX"

PAYPAL_CUSTOMER_EMAIL="customer@personal.example.com"
PAYPAL_CUSTOMER_PASSWORD="password"

